.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .app-title {
    margin-bottom: 20px;
    font-size: 32px;
    color: #007bff;
  }

  app-task-form,
  app-task-list {
    width: 100%;
    max-width: 400px;
  }
}
